Repository mdellavo/budget: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-typecheck, frontend-eslint, frontend-prettier

frontend-typecheck:
  name: TypeScript type check
  language: system
  entry: bash -c 'cd frontend && npm run typecheck'
  pass_filenames: false

frontend-eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: Prettier
  language: system
  entry: bash -c 'cd frontend && npm run format:check'
  pass_filenames: false

Refactor backend architecture, add test suite, and tooling
  .flake8
  budget/ai.py
  budget/database.py
  budget/main.py
  budget/models.py
  budget/query.py
  frontend/src/App.tsx
  frontend/vite.config.ts
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_ai.py
  tests/test_api.py
  tests/test_queries.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Move 'Merge duplicates' from sidebar to MerchantsPage header
  frontend/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/MerchantsPage.tsx
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add raw_description field to preserve original CSV transaction text
  budget/main.py
  budget/models.py
  frontend/src/pages/TransactionsPage.test.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/types/index.ts
  tests/conftest.py
  tests/test_api.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add re-enrichment endpoint and tests
  CLAUDE.md
  README.md
  budget/main.py
  budget/query.py
  frontend/src/api/client.ts
  frontend/src/pages/TransactionsPage.test.tsx
  frontend/src/pages/TransactionsPage.tsx
  tests/test_api.py
  tests/test_queries.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add CardHolder feature with full test coverage
  budget/ai.py
  budget/main.py
  budget/models.py
  budget/query.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CardHoldersPage.test.tsx
  frontend/src/pages/CardHoldersPage.tsx
  frontend/src/pages/TransactionsPage.test.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/types/index.ts
  tests/conftest.py
  tests/test_api.py
  tests/test_queries.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add Re-enrich Import feature
  budget/main.py
  budget/query.py
  frontend/src/api/client.ts
  frontend/src/pages/ImportsPage.test.tsx
  frontend/src/pages/ImportsPage.tsx
  tests/test_api.py
  tests/test_queries.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add in-progress import spinner to Sidebar
  frontend/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add cardholder filter autocomplete to TransactionsPage
  frontend/src/pages/TransactionsPage.test.tsx
  frontend/src/pages/TransactionsPage.tsx
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add autocomplete to TransactionsPage filter bar for merchant, category, subcategory, and account
  frontend/src/components/ComboBox.tsx
  frontend/src/pages/CardHoldersPage.test.tsx
  frontend/src/pages/TransactionsPage.test.tsx
  frontend/src/pages/TransactionsPage.tsx
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add Trends page with month-over-month expense line chart by category
  budget/main.py
  budget/query.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/TrendPage.test.tsx
  frontend/src/pages/TrendPage.tsx
  frontend/src/types/index.ts
  tests/test_api.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

TrendPage: 5-year default range + URL search param state
  frontend/src/pages/TrendPage.test.tsx
  frontend/src/pages/TrendPage.tsx
Due: frontend-typecheck, frontend-eslint, frontend-prettier

touch
  README.md
  budget/ai.py
  frontend/src/pages/CardHoldersPage.tsx
  frontend/src/pages/ImportsPage.test.tsx
  frontend/src/pages/ImportsPage.tsx
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Enforce NOT NULL on all user_id foreign keys
  budget/auth.py
  budget/main.py
  budget/models.py
  budget/query.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/LoginPage.tsx
  requirements.txt
  scripts/seed_user.py
  tests/conftest.py
  tests/test_api.py
  tests/test_queries.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add Google OAuth sign-in and update README
  README.md
  budget/auth.py
  budget/main.py
  budget/models.py
  frontend/index.html
  frontend/src/api/client.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/env.d.ts
  frontend/src/pages/LoginPage.tsx
  requirements.txt
Due: frontend-typecheck, frontend-eslint, frontend-prettier

add frontend env
  dev.sh
  frontend/.env.example
Due: frontend-typecheck

Add auth tests: login flows, Google OAuth, and endpoint protection
  tests/conftest.py
  tests/test_api.py
Due: none

Add help page and contextual help icons
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/HelpIcon.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/BudgetPage.tsx
  frontend/src/pages/CardHoldersPage.tsx
  frontend/src/pages/CategoriesPage.tsx
  frontend/src/pages/HelpPage.test.tsx
  frontend/src/pages/HelpPage.tsx
  frontend/src/pages/ImportsPage.tsx
  frontend/src/pages/MerchantMergePage.test.tsx
  frontend/src/pages/MerchantMergePage.tsx
  frontend/src/pages/MerchantsPage.tsx
  frontend/src/pages/MonthlyPage.tsx
  frontend/src/pages/OverviewPage.test.tsx
  frontend/src/pages/OverviewPage.tsx
  frontend/src/pages/RecurringPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/pages/TrendPage.tsx
  frontend/src/types/index.ts
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add budgets, category classification, and Budget Wizard
  budget/ai.py
  budget/main.py
  budget/models.py
  budget/query.py
  run-tests.sh
Due: none

Add Overview date filtering, chart drill-through, ATM category, and update docs
  README.md
  budget/ai.py
  budget/main.py
  budget/models.py
  budget/query.py
  frontend/.env.example
  frontend/src/api/client.ts
  frontend/src/components/MerchantLogo.tsx
  frontend/src/env.d.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/BudgetPage.tsx
  frontend/src/pages/CardHoldersPage.tsx
  frontend/src/pages/CategoriesPage.tsx
  frontend/src/pages/HelpPage.test.tsx
  frontend/src/pages/HelpPage.tsx
  frontend/src/pages/ImportsPage.tsx
  frontend/src/pages/MerchantsPage.tsx
  frontend/src/pages/MonthlyPage.tsx
  frontend/src/pages/OverviewPage.test.tsx
  frontend/src/pages/OverviewPage.tsx
  frontend/src/pages/RecurringPage.test.tsx
  frontend/src/pages/RecurringPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/pages/TrendPage.tsx
  frontend/src/types/index.ts
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add Transfer category, budget pie chart, and transaction sum
  budget/ai.py
  budget/main.py
  budget/query.py
  frontend/src/pages/BudgetPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/types/index.ts
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Fix budget pie chart overlapping progress bars
  frontend/src/pages/BudgetPage.tsx
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add YearlyPage, SpendingChart, fixed-point math, and comprehensive tests
  budget/main.py
  budget/query.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/components/SpendingChart.test.tsx
  frontend/src/components/SpendingChart.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/BudgetPage.test.tsx
  frontend/src/pages/BudgetPage.tsx
  frontend/src/pages/RecurringPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/pages/YearlyPage.test.tsx
  frontend/src/pages/YearlyPage.tsx
  frontend/src/types/index.ts
  tests/test_api.py
  tests/test_queries.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add GitHub Actions CI for backend and frontend tests
  .github/workflows/ci.yml
Due: none

Add markdown in AI summaries, AiSummaryCard component, and tests
  budget/ai.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/AiSummaryCard.test.tsx
  frontend/src/components/AiSummaryCard.tsx
  frontend/src/components/SpendingChart.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/MonthlyPage.test.tsx
  frontend/src/pages/MonthlyPage.tsx
  frontend/src/pages/OverviewPage.test.tsx
  frontend/src/pages/OverviewPage.tsx
  frontend/src/pages/YearlyPage.test.tsx
  frontend/src/pages/YearlyPage.tsx
  frontend/src/types/index.ts
  tests/test_ai.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add AI summaries, yearly reports, sidebar grouping, and UX improvements
  CLAUDE.md
  README.md
  budget/main.py
  budget/models.py
  budget/query.py
  frontend/src/api/client.ts
  frontend/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/BudgetPage.test.tsx
  frontend/src/pages/BudgetPage.tsx
  frontend/src/pages/CategoriesPage.test.tsx
  frontend/src/pages/CategoriesPage.tsx
  frontend/src/pages/HelpPage.tsx
  frontend/src/pages/OverviewPage.tsx
  frontend/src/pages/RecurringPage.test.tsx
  frontend/src/pages/RecurringPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/pages/TrendPage.test.tsx
  frontend/src/pages/TrendPage.tsx
  tests/conftest.py
  tests/test_api.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Switch transaction import from INSERT IGNORE to upsert by fingerprint
  budget/main.py
  budget/query.py
  tests/test_api.py
Due: none

Add Tags page, Duplicates page, sidebar reorder, and help coverage
  README.md
  budget/ai.py
  budget/main.py
  budget/models.py
  budget/query.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CategoriesPage.test.tsx
  frontend/src/pages/CategoriesPage.tsx
  frontend/src/pages/DuplicatesPage.test.tsx
  frontend/src/pages/DuplicatesPage.tsx
  frontend/src/pages/HelpPage.tsx
  frontend/src/pages/TagsPage.test.tsx
  frontend/src/pages/TagsPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/pages/YearlyPage.tsx
  frontend/src/types/index.ts
  tests/test_api.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Fix test_upsert_reimport_resets to reflect upsert-by-fingerprint behaviour
  tests/test_queries.py
Due: none

Add enrichment batch tracking and Debug page
  budget/ai.py
  budget/jobs.py
  budget/main.py
  budget/models.py
  budget/query.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/DebugPage.test.tsx
  frontend/src/pages/DebugPage.tsx
  frontend/src/pages/HelpPage.tsx
  frontend/src/types/index.ts
  tests/test_ai.py
  tests/test_api.py
  tests/test_jobs.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Add Alembic migrations, mixed categories, import delete, and misc features
  CLAUDE.md
  README.md
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/0001_initial_schema.py
  budget/ai.py
  budget/jobs.py
  budget/main.py
  budget/query.py
  dev.sh
  docker-compose.yaml
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/DebugPage.tsx
  frontend/src/pages/HelpPage.tsx
  frontend/src/pages/ImportsPage.test.tsx
  frontend/src/pages/ImportsPage.tsx
  frontend/src/pages/MixedCategoriesPage.tsx
  frontend/src/pages/TransfersPage.test.tsx
  frontend/src/pages/TransfersPage.tsx
  frontend/src/types/index.ts
  infra/ecs.tf
  requirements.txt
  tests/test_api.py
  tests/test_queries.py
Due: frontend-typecheck, frontend-eslint, frontend-prettier

Path conditions:
  frontend-typecheck: any of: ^frontend/
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|css|json)$
